<!DOCTYPE html>
<html lang="en-US">


<head>
	<title>Panda Express Navigation Bar</title>
	<link rel="stylesheet" type="text/css" href="index_style.css">
  <meta name="viewport" user-scalable="yes" maximum-scale="10">
</head>
<body>
	<nav>
		
		<ul>
			<li><a href="http://35.224.239.144/ajaxswing/apps/Panda">Worker?</a></li>
			<li><a href="/order">Order</a></li>
			<li><a href="#">Home</a></li>
		</ul>
	</nav>

  <div class="grid-container">
    <div class="section1">
      <img src="Panda_Express_logo.png" class="Logo">
    </div>
    <div class="section2"> Where are we Located?
      <div id="map"></div>
      <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHMrXaSQ6ROeOPjYppOK1rorr5laqEBbg&callback=initMap">
      </script> 
    </div>
    <div class="section3">

    </div>

    <script src="JS_functions.js"></script>
</body>

    </html>