<!DOCTYPE html>
<html lang="en"></html>


<head>
    <title>Home Page</title>
    <link id="css" rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <p>This is <%=name%>'s homepage.<p></body>
</body>

<body>
    <div class="grid-container">
      <div class="item1">Panda Express Ordering System</div>
      <div class="item2">Regular Meals</div>
      <div class="item3">A-La-Carte</div>  
      <div class="item4">Entrees</div>
      <div class="item5">Sides</div>
      <div class="item6">Appetizers</div>
      <div class="item7">Drinks</div>
      <div class="item8">Order Items:</div>
      <div class="item9">Item Prices</div>
      <div class="item10">Order Subtotal</div>
      <div class="item11">Payment Method</div>
      <div class="item12">Footer</div>
    </div>
    
    </body>