<!DOCTYPE html>
<html lang="en-US">


<head>
	<title>Panda Express Home</title>
	<link rel="stylesheet" type="text/css" href="index_style.css">
  <meta name="viewport" user-scalable="yes" maximum-scale="10">
</head>
<body>
  <header>
    <a class="skip-link" href="#map" title="Link to Skip to our location.">Skip to Our Location</a>
  </header>
	<nav title="Navigation Bar">

		<ul>
			<li><a href="http://35.224.239.144/ajaxswing/apps/Panda" title="Link to Employee Interface">
        <%= username?.user?.displayName ?? "Guest" %>
      </a></li>
			<li><a href="/order" title="Link to Customer Order Interface">Order</a></li>
			<li><a href="/" title="Link to Panda Express MSC Home Page">Home</a></li>
		</ul>
    <div id="google_translate_element">

      <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
	</nav>

  <div class="grid-container">
    <div class="section1">
      <img src="./Panda_Express_Images/Home_Page/Panda_Express_logo.png" class="Logo" alt="Panda Express Logo ">
      <h1 class="mission-statement"> Our mission at Panda Express is to inspire better lives by creating delicious,
        flavorful meals that are made with high-quality ingredients and served in a welcoming and enjoyable environment.
        We strive to provide exceptional service to our guests while also fostering a culture of respect, diversity, and continuous improvement among our team members.
        Through our commitment to these values, we aim to be a positive force in the communities we serve, and to promote healthy and fulfilling lifestyles for all.
      </h1>
    </div>
    <div class="section2" role="contentinfo">
      <h2 id="text">Our Location</h2>
      <div id="map" tabindex="0"></div>
      <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHMrXaSQ6ROeOPjYppOK1rorr5laqEBbg&callback=initMap">
      </script>
    </div>
    <div class="section3"><h2 id="text">Sign in with Google</h2>
      <button class="auth-button-area">
        <a href="/auth/google" class="auth-button" title="Link to Google Login.">
          <span class="fa fa-google" role="presentation"></span>Click Here</a>
      </button>
    </div>
    <button onclick="window.location.href='docs/index.html'">Go to project 3 docs Page</button>
    <button onclick="window.location.href='docs_p2/index.html'">Go to project 2 docs Page</button>

    <script src="JS_functions.js"></script>
  </body>
</html>