<!DOCTYPE html>
<html lang="en-US">


<head>
	<title>Panda Express Home</title>
	<link rel="stylesheet" type="text/css" href="index_style.css">
</head>
<body>
	<nav>

		<ul>
			<li><a href="http://35.224.239.144/ajaxswing/apps/Panda">Worker?</a></li>
			<li><a href="/order">Order</a></li>
			<li><a href="/">Home</a></li>
		</ul>
    <div id="google_translate_element">

      <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
	</nav>

  <div class="grid-container">
    <div class="section1">
      <img src="Panda_Express_logo.png" class="Logo">
      <p class="mission-statement"> Our mission at Panda Express is to inspire better lives by creating delicious,
        flavorful meals that are made with high-quality ingredients and served in a welcoming and enjoyable environment.
        We strive to provide exceptional service to our guests while also fostering a culture of respect, diversity, and continuous improvement among our team members.
        Through our commitment to these values, we aim to be a positive force in the communities we serve, and to promote healthy and fulfilling lifestyles for all.
      </p>
    </div>
    <div class="section2">
      <div id="text">Our Location</div>
      <div id="map"></div>
      <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHMrXaSQ6ROeOPjYppOK1rorr5laqEBbg&callback=initMap">
      </script>
    </div>
    <div class="section3"><div id="text">Sign in with Google</div>
      <button class="auth-button">
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Click Here</a>
      </button>
    </div>

    <script src="JS_functions.js"></script>
</body>

    </html>