<!DOCTYPE html>
<html lang="en-US">


<head>
	<title>Panda Express Navigation Bar</title>
	<link rel="stylesheet" type="text/css" href="index_style.css">
</head>
<body>
	<nav>
		
		<ul>
			<li><a href="http://35.224.239.144/ajaxswing/apps/Panda">Worker?</a></li>
			<li><a href="/order">Order</a></li>
			<li><a href="#">Home</a></li>
		</ul>
	</nav>

  <div class="grid-container">
    <div class="section1">
      <img src="Panda_Express_logo.png" class="Logo">
    </div>
    <div class="section2">
      
    </div>
    <div class="section3">
      
    </div>
</body>

    </html>