<!DOCTYPE html>
<html lang="en"></html>

<head>
    <title>Product GUI</title>
    <link id="CSS" rel="stylesheet" type="text/css" href="product_style.css">
</head>

<body class="body1">
    <div> Hello <%=name%></div>
</body>